*{
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}
html {
    scroll-behavior: smooth;
  }

/* header section */
.header_section{
    background: rgba(255,255,255,70%);
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    /* position: sticky;
    top: 0; */
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; */
    /* background-color:#00000017; */
    /* background-color:#e77c131c; */
    /* <--------------------------#e58a2212  check this color-------------------------->*/
    /* border-bottom: 1px solid #F19300;
    border-top: 1px solid #F19300; */
    box-shadow: 0 7px 10px #f1930066;
}
/* logo section */
.logo{
    width: 175px;
    height: 111px;
}

/* navigation section */

.navigation .nav-item{
    padding: 0 5px;
}
.navigation a{
    font-size: 18px;
    color: black;
    font-weight: 500;
}
.navigation .nav-link:hover {
    color: #F19300;
}
.navbar-nav .dropdown-menu {
    padding: 20px 30px;
    /* background-color: #edd8b16b; */
}
.dropdown-item:hover {
    color:#e77606;
    
}

/* Getstarted section */
.btn-outline-success.getstarted{
    background-color: #F19300;
    color:white;
    padding: 10px 40px;
    font-size: 18px;
    border: none;
}
.btn-outline-success.getstarted:hover{
    background-color: white;
    color:#F19300;
    border: 1px solid #F19300;

}

/* banner section */
.banner_section{
    padding: 100px 0 110px;
    /* border-bottom: 1px solid #F19300; */
   
    /* box-shadow: 0 7px 10px #ccc; */
    /* background-color: #edd8b16b; */
    
}
.banner_left{
    
    padding: 202px 0 100px 65px;;
}
.banner_left h2{
 font-size: 51px;
 font-weight: 500;

}
.banner_left p{
    font-size: 18px;
    line-height: 30px;
    color:#000000ab;
    letter-spacing: 2px;
   
   }
.banner_right img{
    width: 100%;
    height: auto;
}

/* sub banner section */
.subbanner_section{
    position: absolute;
    /* bottom: 0; */
    top: 730px;
    left: 0;
    right: 0;
    z-index: 1;
    content: "";

  
    
}
.subbanner_section h1{
    color: white;
    font-weight: 700;
}
.subbanner_div{
    /* border: 1px solid black; */
    box-shadow: 0 -3px 12px #ccc;
    background-color: white;
    padding: 30px 0;
    border-radius: 8px;
    transform: translateY(0);
   
    transition: all 0.3s ease-in;
   
    
}
.subbanner_div:hover{
    box-shadow: 0 -3px 12px #e77606;
    /* transform: translateY(-20px); */
}
.image_sub_banner img{
    width: 100px;
    height: 100px;
}

.orange_bg{
    background-color: #ffa500a3;
}

/* about services */
.solutions_section{
    position: relative;
 padding-top:180px;
 /* background-color: #ccc;  */
 background-color: #edd8b16b; 
}

.solutions_subcontent_right img{
    width: 100%;
    height: auto;
}
.solutions_subcontent_description_content{
    padding-bottom: 30px;
    line-height: 30px;
}
.solutions_subcontent_description_content h3{
    color:#e77606;
    font-weight: 600;
    font-size: 20px;
}
.solutions_section .indi_btn{
    width: 15px;
    height: 15px;
}
.solutions_section .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    padding: 0;
    margin-right: 3px;
    border-radius: 50%;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #615e5b;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
} 
.solutions_section .carousel-indicators .active {
    opacity:5;
    background-color: #e77606;
}
.solutions_subcontent_left {
    padding: 70px 0;
}
.solutions_section .carousel-control-next, .carousel-control-prev{
    color:red;
}
 

/* built_section */
.built_section{
    padding: 50px 0;
}
.built_section .built_section_carosel_div_content img{
    width: 100%;
    height: 180px;
    transition: all 0.3s ease;

}
.built_section .built_section_carosel_div_content:hover img{
    transform: scaleY(0.8);
}
.built_section_carosel_div{
    /* border: 1px solid rgb(149, 144, 135); */
    box-shadow: 2px 1px 8px #ccc;
    margin: 50px 5px;
    padding: 20px 40px;
    border-radius: 6px;
    transform: translateY(0);
   
    transition: all 0.3s ease-in;
}
.built_section_carosel_div:hover{
    box-shadow: 3px 1px 15px #f59f4a;
    transform: translateY(-15px);
    
}
.built_section_carosel_div_content a{
    border: 1px solid #F19300;
    padding: 5px 30px;
    color: #F19300;
    display: inline-block;
    border-radius: 6px;
    text-decoration: none;
   
}
.built_section_carosel_div_content a:hover{
background-color: #F19300;
color: white;


}
.built_section_carosel_div_content_img{
    padding: 30px;
}
.owl-theme .owl-dots .owl-dot span {
    background: white;
    /* border: 1px solid #e77606; */
    background-color: #615e5b;
    padding: 0px 14px 0px 0px;
    border-radius: 50%;
    margin-right: 10px;
    line-height: 15px;
    }
    
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
     background-color: #e77606;
 }
/* .owl-theme .owl-dots .owl-dot span {
    background: white;
     border: 1px solid blue;
     height: 80px;
     width: 80px;
     border-radius: 50%;
     padding:6px;
     margin-right: 10px;
    } */

/* ecommerce section */
.ecommerce_section{
    background-color: #edd8b16b;
}
.ecommerce_section_content img{
    width: 20vh;
    padding: 20px;
    transform: translateY(0);
    transition: all 0.3s ease;
}
.ecommerce_section_content img:hover{
    transform: translateY(-15px);
    transition: all 0.3s ease;

}
.ecommerce_section.sub{
    background-color:white;
}

/* customer section */
.customer_section{
    background-color: #edd8b16b;
}

.customer_section_carosel{
    margin-bottom: 60px;
}
.customer_img img{
    border-radius: 50%; 
   width: 50%;
   height: 50%;
}
.customer_persons{
    transform: translateX(0);
    transition: all 0.3s ease;
    background-color: white;
    padding: 20px 0 5px;
   border-radius: 8px;
}
.customer_persons:hover{
    transform: translateX(10px);
    /* transform: scaleX(0.8); */
}

.customer_about {
    padding: 30px 0 20px 15px;
    margin: 0px 80px;
    border-radius: 7px;
    background-color: #f5f5f5;
    
}
.customer_about:hover{
    /* transform: scaleX(2); */
    /* transform: translateY(-15px); */
} 

.quotation{
    width: 30px;
    height: 30px;

}

.customer_section .carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    padding: 0;
    margin-right: 3px;
    border-radius: 50%;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #615e5b;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
} 
.customer_section .carousel-indicators .active {
    opacity:5;
    background-color: #e77606;
}



/* contact section */

.contact{
	padding:80px 0;
}
.contact_head{
	
	margin-bottom:20px;
}
.contact_map{
	
	margin-bottom:20px;
	
}
.contact_form{
	padding: 36px 0px;
	
}
.address_list{
	position:relative;
	margin-bottom:40px;
		
}
.address_list i{
	background-color: #e77606;
    font-size: 17px;
    color: white;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 42px;
}
.address_list h3{

	padding-left:70px;
	margin-bottom:10px;
	font-size: 17px;
	
}
.address_list p{
	
	margin-bottom:10px;
	padding-left:70px;
	color:#464141;
	font-size:12px;
	
}
.form_control{
	width:100%;
	height:45px;
	border:1px solid #212529;
	font-size:14px;
	color:#cccccc;
	border-radius:3px;
	padding:10px;
	margin-bottom:20px;
}
textarea.form_control{
	height:120px;
}
.form_control:focus{
	outline:0;
	border:1px solid #e77606;
}

.submit{
	text-align:center;
	padding-top:20px;
}
.submit .button{
	background-color: #e77606;
	color:#444444;
	padding:7px 12px;
	cursor: pointer;
}
.submit .button:hover{
	opacity:0.8;
}


/* footer section */
.footer{
    background-color: #20222594;
    padding: 80px 0;
}

.footer_links img{
	display: inline-block;
    height: 85px;
    margin: 4px 0px 0;
}
.footer_links h1{
	color: #ccc;
    font-size: 31px;
    font-weight: 400;
    padding-left: 5px;
}
.footer_links p{
	color: #ccc;
    font-size: 14px;
    font-weight: 200;
    padding: 4px 0;

}
.footer_company_icons i{
	color: #ccc;
    font-size: 20px;
    padding-right: 13px;  
}
.footer_company_icons i:hover{
	color:#e77606;
}

.useful_links h3 {
    color: #ccc;
    font-size: 17px;
    text-transform: uppercase;
}
.useful_links ul li a{
	color: #ccc;
	font-size:15px;
}
.useful_links ul li a:hover{
	color:#e77606;
}
.useful_links ul li a i{
	color:#ccc;
}
.useful_links p{
	color: #ccc;
    font-size: 15px;
    padding: 18px 0px;
}
.useful_links h4{
	color: #ccc;
    font-size: 15px;
    font-weight: 200;
}
.useful_links h4 b{
	color: #ccc;
    font-size: 16px;
    font-weight: 600;
}

/* b2b page */

.b2b_banner{
        margin: 115px 0 50px;
        /* background-image: linear-gradient(45deg, #ffffff2e, #000000c4), url(../assests/b2b/bannerB2b.svg); */
        /* background-image: url('../assests/b2b/bannerB2b.svg'); */
        background-image: linear-gradient(59deg, #ffffffa3, #00000042), url(../assests/b2b/bannerB2b.svg);
        height: 400px;
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        /* margin: 30px 0; */
    
}
.b2b_banner img{
    opacity: 2;
}
.b2bcontent{
    padding:85px 30px;
}
.b2bcontent h2{
    font-size: 45px;
    color: #e77606;
    font-weight: 700;
}
.b2bcontent p{
    font-size: 20px;
    line-height: 30px;

}
.b2b_info{
    padding: 50px 0;
}
.b2b_info_right{
    padding: 50px 0;
}
.b2b_info_right h2{
    font-size: 30px;
    color: #e77606;
}
b2b_info_left{
    /* padding: 120px 0; */
}
.b2b_info_right p{
    font-size: 17px;
    line-height: 40px;
    letter-spacing: 3px;
    color: #615e5b;
}
.b2b_info img{
    width: 100%;
    height: auto;
    padding: 40px ;
}

/* b2b2c page */
.b2b2c_banner{
    margin: 111px 0 50px;
    /* background-image: linear-gradient(45deg, #ffffff2e, #000000c4), url(../assests/b2b/bannerB2b.svg); */
    /* background-image: url('../assests/b2b/bannerB2b.svg'); */
    background-image: linear-gradient(59deg, #ffffffa3, #00000042), url(../assests/b2b2c/banner.png);
    height: 400px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    /* margin: 30px 0; */

}
.b2b2c_info{
    padding: 50px 0;
}
.b2b2c_info img{
    width: 100%;
    height: auto;
    padding: 40px ;
}
.b2b2c_info h4{
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 2px;
}

/* d2c section */
.d2c_banner{
    margin: 111px 0 50px;
    /* background-image: linear-gradient(45deg, #ffffff2e, #000000c4), url(../assests/b2b/bannerB2b.svg); */
    /* background-image: url('../assests/b2b/bannerB2b.svg'); */
    background-image: linear-gradient(59deg, #ffffffa3, #00000042), url(../assests/d2c/bannerd2c.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    /* margin: 30px 0; */

}
/* b2c section */
.b2c_banner{
    margin: 111px 0 50px;
    /* background-image: linear-gradient(45deg, #ffffff2e, #000000c4), url(../assests/b2b/bannerB2b.svg); */
    /* background-image: url('../assests/b2b/bannerB2b.svg'); */
    background-image: linear-gradient(59deg, #ffffffa3, #00000042), url('../assests/b2c/b2c-ecommerce-hero.webp');
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* margin: 30px 0; */

}

/* mutltivendor section */
.multivendor_banner{
    margin: 111px 0 50px;
    /* background-image: linear-gradient(45deg, #ffffff2e, #000000c4), url(../assests/b2b/bannerB2b.svg); */
    /* background-image: url('../assests/b2b/bannerB2b.svg'); */
    background-image: linear-gradient(59deg, #ffffffa3, #00000042), url('../assests/multivendor/multi-vendor-platforms_banner.jpg');
    height: 400px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: inherit;
    /* margin: 30px 0; */

}
/* multistore section */

.multistore_banner{
    margin: 111px 0 50px;
    /* background-image: linear-gradient(45deg, #ffffff2e, #000000c4), url(../assests/b2b/bannerB2b.svg); */
    /* background-image: url('../assests/b2b/bannerB2b.svg'); */
    background-image: linear-gradient(59deg, #ffffffa3, #00000042), url('../assests/multistore/multistorebanner.png');
    height: 400px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: inherit;
}
/* omnichannel */
.omnichanner_banner{
    margin: 111px 0 50px;
    /* background-image: linear-gradient(45deg, #ffffff2e, #000000c4), url(../assests/b2b/bannerB2b.svg); */
    /* background-image: url('../assests/b2b/bannerB2b.svg'); */
    background-image: linear-gradient(59deg, #ffffffa3, #00000042), url('../assests/omnichannel/omnichannel-retail-trends-2023-1-removebg-preview.png');
    height: 400px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: inherit;
    /* margin: 30px 0; */
}